<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ojttest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- *************** Suggest Servlet *************** -->
    <servlet><!-- 서블릿 이름과 서블릿 클래스 선언 -->
        <description></description>
        <display-name>Team</display-name>
        <servlet-name>Team</servlet-name>
        <servlet-class>suggest.Team</servlet-class>
    </servlet>
    <servlet-mapping><!-- URL상으로 접근해야 하는 경로명 -->
        <servlet-name>Team</servlet-name>
        <url-pattern>/team</url-pattern>
    </servlet-mapping> 
     
    <servlet><!-- 서블릿 이름과 서블릿 클래스 선언 -->
        <description></description>
        <display-name>Suggest</display-name>
        <servlet-name>Suggest</servlet-name>
        <servlet-class>suggest.Suggest</servlet-class>
    </servlet>
    <servlet-mapping><!-- URL상으로 접근해야 하는 경로명 -->
        <servlet-name>Suggest</servlet-name>
        <url-pattern>/suggest</url-pattern>
    </servlet-mapping>  
  
</web-app>